{% extends 'base.html' %}
{% load static %}
{% block title %}
About Us
{% endblock %}

{% block navbar-active %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
 
<ul class="navbar-nav ml-auto">
  <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
  <li class="nav-item ">
      <a class="nav-link " href="{% url 'home' %}"><i class="fas fa-tachometer-alt"></i> Home</a>
  </li>
  <li class="nav-item active">
      <a class="nav-link" href="{% url 'About-Us' %}"><i class="far fa-address-book"></i> About</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'services' %}"><i class="far fa-clone"></i> Services</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'contact-us' %}"><i class="far fa-calendar-alt"></i> Contact</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'Portal' %}"><i class="far fa-chart-bar"></i> Portal</a>
  </li>
</ul>

</div>
{% endblock %}

{% block content %}

<!-- FIRST CONTAINER -->
<div class="container-flex ">
    <div class="row row1">
        <div class="col">
            <h1>About Us</h1>       
            <p>Every product is unique, but so is also our tailored process:<br>
                we fuse strategy, creation and engineering.
                To genuinely innovate, we foster synergies beyond the established.</p>
            <div class="row2">
                <button class="custom-btn btn-13" data-toggle="modal" data-target=".bd-example-modal-lg">Request A Quote</button>
                
            </div>
        </div>
    </div>
    <!-- SECOND CONTAINER -->
    <div class="container-fluid row2a">
        <div class="row">
            <div class="col-md-6" > 
                <img class="" src="{% static 'app/images/development1.gif' %}" alt="" >
            </div>
            <div class="col-md-6" >
                <h3 class="pink-text" >About</h3>
                <h2>CanTech</h2>
                <p>We are an IT Solution organization that focuses on Digitalization. We hold specialization in IT Development and Consulting, We focus on market and individuals where there is need to get online.</p>
                <p>We are experts in matching right IT solutions for the business needs and believe that by doing so productivity and efficiency will be improved and businesses transformed.  </p>
                <p>We have a team of dedicated IT professionals who have an inherent ability to understand clients’ needs and deliver impeccable services.</p>
                <p>We strongly believe that our people are the ones who differentiate us from our competition and lead us to success.</p>
                <h3> <b>We Focus On -</b></h3>
                <ul>
                    <li>Business Website Development</li>
                    <li>Profile Development</li> 
                    <li>Website Design</li>
                    <li>Marketing</li> 
                    <li>SEO</li>

                </ul>

                <br>
                <div class="row row2a1">
                    <div class="col-4"><h5 class="bold-h5">100%</h5><p> Client Satisfaction</p></div>
                    <div class="col-4"><h5 class="bold-h5">24/7</h5><p> Customer Support</p></div>
                    <div class="col-4"><h5 class="bold-h5">100%</h5><p> Talented Squad</p></div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- SECOND CONTAINER END -->
    <div class="container-fluid row3a">
        <h3 class="pink-text" >Why Choose Us</h3>
        <br>
        <div class="row" >
            <!-- 2 ELEMENTS -->
            <div class="col-md-3" >
                <div class="servblock" >
                    <div class="service-block s-block wide-sblock row" >
                        <img class="" src="{% static 'app/images/research.svg' %}" alt="" height="100px">
                        <h5 class="bold-h5" >Research and Analysis</h5>
                        <p>Proper research and analysis are done for efficient strategy and cost reduction.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" >
                <div class="servblock" >
                    <div class="service-block s-block wide-sblock row" >
                        <img class="" src="{% static 'app/images/chat.svg' %}" alt="" height="100px">
                        <h5 class="bold-h5" >Negotiation and power</h5>
                        <p>Flexibility is one of our key strengths and we are ready to negotiate according to the client’s requirements.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" >
                <div class="servblock" >
                    <div class="service-block s-block wide-sblock row" >
                        <img class="" src="{% static 'app/images/monitor.svg' %}" alt="" height="100px">
                        <h5 class="bold-h5" >Creative and innovative solutions</h5>
                        <p>We have professionals that think out of the box and provide efficient and innovative solutions..</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" >
                <div class="servblock" >
                    <div class="service-block s-block wide-sblock row" >
                        <img class="" src="{% static 'app/images/trasparency.svg' %}" alt="" height="100px">
                        <h5 class="bold-h5" >Trasparency and ease of work</h5>
                        <p>One of our major ethics is transparency. This shows our commitment to honesty towards a project.</p>
                    </div>
                </div>
            </div>  
            <!-- 2 ELEMENT END -->
        </div>    
    </div>
    <!-- ROW3A END -->
    <!-- ROW 4 Start -->
    <div class="container-fluid row2a">
        <div class="row">
            
            <div class="col-md-6" >
                <h3 class="pink-text" >Mission</h3>
                <h2>At CanTech</h2>
                <p>Leadership through differentiation by encouraging innovation, research  and development in people matters thereby contributing  towards the organic growth of the businesses and the region.</p>
                <p>Our Mission is to Target Industries and Individuals where there is requirement of Digitalization.</p>
                <p>We will provide them with best IT Solutions, which would result in increase in brand value and progressive growth.</p>
                <p>Our Aim is to provide Development, Maintenance and Improvement across diverse range of industries to provide qualitative experience to everyone </p>
                <br>
            </div>
            <div class="col-md-6" >
                <img class="" src="{% static 'app/images/development2.gif' %}" alt="" >
            </div>
            <div class="col-md-6" >
                <h5 class="bold-h5" >Mission Statement</h5>
                <ul class="list-style-">
                    <li><p>Tailor-made apps/services according to client’s requirements</p></li>
                    <li><p>Excellence while delivering IT solutions to our esteemed clients</p></li>
                    <li><p>Cost-effective strategies applied to address budget issues</p></li>
                    <li><p>On-time delivery of products/services is what differentiates us</p></li>
                    <li><p>Live support assists the client to alter changes if and when required</p></li>
                    <li><p>Project remains confidential and foolproof ensuring high-level privacy</p></li>
                    <li><p>Friendly assistance guarantees no barriers between team and client</p></li>
                </ul>
            </div>
            
            <div class="col-md-6" >
                <img class="" src="{% static 'app/images/development3.gif' %}" alt="" >
            </div>
        </div>
    </div>
    <!-- ROW 4 End -->
    <!-- 5 ROW START -->
    <div class="container-fluid row3a">
        <h3 class="pink-text" >Why Choose Us</h3>
        <br>
        <div class="row" >
            <!-- 2 ELEMENTS -->
            <div class="col-md-4" >
                <div class="servblock" >
                    <div class="service-block s-block wide-sblock row" >
                        <img class="aboutu5-img" src="{% static 'app/images/innovation.png' %}" alt=""  >
                        <h5 class="bold-h5" >Innovation</h5>
                        <p>At Cantech, innovation is what makes us stand out. We provide a wide array of reliable solutions.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" >
                <div class="servblock" >
                    <div class="service-block s-block wide-sblock row" >
                        <img class="aboutu5-img" src="{% static 'app/images/clock.png' %}" alt=""  >
                        <h5 class="bold-h5" >Efficiency</h5>
                        <p>Our team comprises professionals that work smartly to increase the efficacy of the project by manifolds.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" >
                <div class="servblock" >
                    <div class="service-block s-block wide-sblock row" >
                        <img class="aboutu5-img" src="{% static 'app/images/teamwork.png' %}" alt=""  >
                        <h5 class="bold-h5" >Teamwork</h5>
                        <p>We easily gel together and work as a team to <a href=""></a>chieve a target that is entrusted to us.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" >
                <div class="servblock" >
                    <div class="service-block s-block wide-sblock row" >
                        <img class="aboutu5-img" src="{% static 'app/images/king.png' %}" alt=""  >
                        <h5 class="bold-h5" >Customer's Priority</h5>
                        <p>Our duty is to treat our clients/customers as a king and follow their directives to deliver an excellent service.</p>
                    </div>
                </div>
            </div>  
            <div class="col-md-4" >
                <div class="servblock" >
                    <div class="service-block s-block wide-sblock row" >
                        <img class="aboutu5-img" src="{% static 'app/images/creativity.png' %}" alt=""  >
                        <h5 class="bold-h5" >Creativity</h5>
                        <p>One of our core values is creativity. We believe in providing different IT solutions to a challenge.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" >
                <div class="servblock" >
                    <div class="service-block s-block wide-sblock row" >
                        <img class="aboutu5-img" src="{% static 'app/images/hard-work.png' %}" alt=""  >
                        <h5 class="bold-h5" >Client Satisfaction</h5>
                        <p>We strive for client satisfaction as we believe in keeping our client’s happy through our hard work.</p>
                    </div>
                </div>
            </div> 
            <!-- 2 ELEMENT END -->
        </div>    
    </div>
    <!-- 5 row END -->
    <!-- ROW 4 Start -->
    <div class="container-fluid row2a">
        <div class="row">
            
            <div class="col-md-6" >
                <img class="" src="{% static 'app/images/team2.gif' %}" alt="" >
            </div>
            
            <div class="col-md-6" >
                <h3 class="pink-text" >Vision</h3>
                <h2>At CanTech</h2>
                <p>At CanTech, we strive towards excellence in providing top-notch services to our clients. Our vision is to make Technology services cost-effective. We want to help SMEs grow by giving them an online presence which is super necessary in today’s world.</p>
                <p>Identify areas  and processes which we can support and contributing towards resource optimization  and enhancing business processes of our clients. </p>
                <p>Aim is to take you and your business to an Individual level by creating an online presence.</p>
                <p>Our Vision is to provide best IT Solutions to Industries and Individuals  to fulfill their digital needs.</p>
                <br>
            </div>    
                
            <div class="col-md-6" >    
                <img class="" src="{% static 'app/images/team3.gif' %}" alt="" >
            </div>
            <div class="col-md-6" >  
                <h5 class="bold-h5" >Vision Statement</h5>
                <ul class="list-style-">
                    <li><p>Providing excellent services that lead to impressive growth</p></li>
                    <li><p>Giving IT services that are pocket-friendly yet effective</p></li>
                    <li><p>In a continuous pursuit of customer satisfaction</p></li>
                    <li><p>Making available reliable and robust services/products</p></li>
                    <li><p>Providing creative IT solutions to an unconventional challenge</p></li>
                    <li><p>Recommending a foolproof strategy that leads to perfect solutions</p></li>
                    <li><p>Hiring professionals that think out of the box to get awesome results</p></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ROW 4 End -->

    
</div>


{% endblock %}