{% extends 'base.html' %}
{% load static %}
{% block title %}
Admin
{% endblock %}

{% block navbar-active %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">
        <div class="hori-selector">
            <div class="left"></div>
            <div class="right"></div>
        </div>
        <li class="nav-item ">
            <a class="nav-link " href="{% url 'home' %}"><i class="fas fa-tachometer-alt"></i> Home</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'About-Us' %}"><i class="far fa-address-book"></i> About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'services' %}"><i class="far fa-clone"></i> Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact-us' %}"><i class="far fa-calendar-alt"></i> Contact</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'Portal' %}"><i class="far fa-chart-bar"></i> Portal</a>
        </li>
    </ul>
    
</div>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'app/css/admin-login.css' %}">


{% if message %}
<script>alert(" Something Went Wrong: {{ message }}");</script>
{% endif %}
{% if e %}
<script>alert(" Something Went Wrong: {{ e }}");</script>
{% endif %}

<!-- FIRST CONTAINER -->
<div class="admin-login" >
    <div class="wrapper">
        <div class="container">
            <h1>Welcome, Admin</h1>
            
            <form class="form" action="admin-login" method="post" name="adminsignin">
                {% csrf_token %}
                <input required type="text" name="aname" placeholder="Email" />
			    <input required type="password" name="psswd" placeholder="Password" />
                <!-- <button type="submit" id="login-button">Login</button> -->
                <input type="submit" value="SUBMIT">
            </form>
        </div>
        
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>


{% endblock %}
