{% extends 'base.html' %}
{% load static %}
{% block title %}
Create A Bug
{% endblock %}

{% block navbar-active %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">
        <div class="hori-selector">
            <div class="left"></div>
            <div class="right"></div>
        </div>
        <li class="nav-item ">
            <a class="nav-link " href="{% url 'home' %}"> Home</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="{% url 'bug_create' %}"> Create Bug</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link " href="{% url 'bug' %}"> ALL Bug</a>
          </li>
        
    </ul>

</div>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'app/css/signup.css' %}">    



{% if message %}
<script>alert(" Something Went Wrong:  {{ message }}");</script>
{% endif %}
{% if e %}
<script>alert(" Something Went Wrong {{ e }}");</script>
{% endif %}

<!-- FIRST CONTAINER -->
<!-- <div class="container-flex "> -->


<div class="container-fluid signupbody ">
    <div class="row justify-content-center">
        <div class="col-10 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">Bugs</h2>
                <p>All listed Bugs <br> Click on Bug to edit </p>
                <br>
                <br>


                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">bug_id</th>
                        <th scope="col">Problem</th>
                        <th scope="col">Reported By</th>
                        <th scope="col">Report Type</th>
                        <th scope="col">Assigned to</th>
                        <th scope="col">Status</th>
                        <th scope="col">priority</th>
                        <th scope="col">Modify</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for bug in bugs %}
                        <tr>
                            <a href="googlr/cp,">
                          
                        <td>{{bug.bug_id}}</td>
                        <td>{{bug.problem_summary}}</td>
                        <td>{{bug.report_by.name}}</td>
                        <td>{{bug.report_type}}</td>
                        <td>{{bug.assigned_to.name}}</td>
                        <td>{{bug.status}}</td>
                        <td>{{bug.priority}}</td>
                        <td><a href="/bug/{{bug.bug_id}}/update/">Edit</a> / <a href="/bug/{{bug.bug_id}}/delete/">Delete</a></td>

                    
                    </a>
                    </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>

                
            </div>
        </div>
    </div>
</div>




<!-- </div> -->

{% endblock %}