{% extends 'base.html' %}
{% load static %}
{% block title %}
Change Password
{% endblock %}



{% block content %}
<link rel="stylesheet" href="{% static 'app/css/admin-login.css' %}">


<script>
   function checkpass(){
       if(document.getElementById('p').value == document.getElementById('p-c').value){
           document.getElementById('submit').disabled = false;
       }
       else{
           document.getElementById('submit').disabled = true;
       }
   }

</script>

{% if message == 'Password Changed' %}
<script>
    alert(" {{ message }}");
    window.location = ('{% url "recruiter-login" %}');
</script>
{% endif %}
<!-- ///////////////////////////////////////////// -->


<!-- FIRST CONTAINER -->
<div class="admin-login" >
    <div class="wrapper">
        <div class="container mt-lg-5">
            
            <form id="myform-search" action="change_password" method="post" autocomplete="off">
                {% csrf_token %}
                <h1>Change Password <span>choose a good one!</span></h1>
                
                    <p>
                        <input type="password" value="" name="old_password" placeholder="Enter Currennt Password" id="" class="password">
                        
                    </p>
                    <p>
                        <input type="password" value="" name="new_password" placeholder="Enter Password" id="p" class="password">
                        
                    </p>
                    <p>
                        <input type="password" value="" name="confirm_password" placeholder="Confirm Password" id="p-c" class="password">
                        <input type="hidden" value="recruiter" name="who" >

                    <div id="strong"><span></span></div>
                    <div id="valid"></div>
                    <small>Must be 6+ characters long and contain at least 1 upper case letter, 1 number, 1 special
                        character</small>
                    </p>
        
                    <input type="submit" onsubmit="checkpass()" value="SUBMIT" id="submit" style="display: block;" >
        
                </form>
        </div>
        
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>


{% endblock %}
