{% extends 'base.html' %}
{% load static %}
{% block title %}
Create A Bug
{% endblock %}

{% block navbar-active %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">
        <div class="hori-selector">
            <div class="left"></div>
            <div class="right"></div>
        </div>
        <li class="nav-item ">
            <a class="nav-link " href="{% url 'home' %}"> Home</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="{% url 'bug_create' %}"> Create Bug</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link " href="{% url 'bug' %}"> ALL Areas</a>
          </li>
        
    </ul>

</div>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'app/css/signup.css' %}">    



{% if message %}
<script>alert(" Something Went Wrong:  {{ message }}");</script>
{% endif %}
{% if e %}
<script>alert(" Something Went Wrong {{ e }}");</script>
{% endif %}

<!-- FIRST CONTAINER -->
<!-- <div class="container-flex "> -->


<div class="container signupbody ">
    <div class="row justify-content-center">
        <div class="col-10 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">Employee List</h2>
                <p>All listed Employees <br> Click to edit user Level </p>
                <br>
                <br>


                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Employee Id</th>
                        <th scope="col">Employee Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">User Level</th>
                        <th scope="col">Level</th>
                        <th scope="col">Edit</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for emp in employees %}
                        <tr>
                        <form action="/employee/update/"  method="POST" >
                        {% csrf_token %}
                            

                        <td><input type="text" value="{{emp.emp_id}}"  name="emp_id" readonly="readonly" ></td>
                        <td><input type="text" value="{{emp.name}}"  name="name" readonly="readonly" ></td>
                        <td><input type="text" value="{{emp.email}}"  name="email" readonly="readonly" ></td>
                        <td><select class="form-control" id="exampleFormControlSelect1" name="user_level"  required>
                            {% if emp.user_level %}
                            <option selected >{{emp.user_level}}</option>
                            {% endif %}
                            <option>Author</option>
                            <option>Developer</option>
                            <option>Tester</option>
                            <option>Admin</option>
                            
                          </select></td>
                          <td><input type="text" value="{{emp.level}}"  name="level"  ></td>
                        
                          <td><input type="submit" class="btn-primary p-2"  value="EDIT"></td>

                        
                        </form>

                    </a>
                    </tr>
                      {% endfor %}

                      
                      
                    </tbody>
                  </table>

                
            </div>
        </div>
    </div>
</div>





<!-- </div> -->

{% endblock %}