{% extends 'base.html' %}
{% load static %}
{% block title %}
Add An Employee
{% endblock %}

{% block navbar-active %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">
        <div class="hori-selector">
            <div class="left"></div>
            <div class="right"></div>
        </div>
        <li class="nav-item ">
            <a class="nav-link " href="{% url 'home' %}"> Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link " href="{% url 'bug_create' %}"> Create Bug</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link " href="{% url 'bug' %}"> Add Employee</a>
        </li>
        
        
    </ul>

</div>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'app/css/signup.css' %}">    



{% if message %}
<script>alert(" Something Went Wrong:  {{ message }}");</script>
{% endif %}
{% if e %}
<script>alert(" Something Went Wrong {{ e }}");</script>
{% endif %}

<!-- FIRST CONTAINER -->
<!-- <div class="container-flex "> -->


<div class="container-fluid signupbody ">
    <div class="row justify-content-center">
        <div class="col-10 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">Add an USER Employee here</h2>
                <p></p>
                <form id="msform" method="POST" action="/employee/create/" enctype="multipart/form-data" class="signupform1">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Employee Details:</h2>
                                </div>
                                <div class="col-5">
                                    
                                </div>
                            </div>
                                <label class="fieldlabels">Name: *</label> 
                                <input type="text" name="name" class="form-control" id="" value="" placeholder="Name of the user" required  /> 
                                <label class="fieldlabels">Email: *</label> 
                                <input type="email" name="email" class="form-control" id="" value="" placeholder="Email of the user" required  /> 
                                <label class="fieldlabels">Password: *</label> 
                                <input type="password" name="password" class="form-control" id="" value="" placeholder="Create a password" required  /> 
                                <label class="fieldlabels" >User Level: *</label>
                                <select class="form-control" id="exampleFormControlSelect1" name="user_level"  required>
                                  <option>Author</option>
                                  <option>Developer</option>
                                  <option>Tester</option>
                                  <option>Admin</option>
                                  
                                </select> 

                                <label class="fieldlabels" >User Level: Min:1 Max 5 *</label>
                                <input type="number" id="quantity" name="level" min="1" max="5">
                                
                                
                                  <br>
                            <input type="submit" value="Submit" />  
                        
                    <!-- <input type="submit" value="SUVR"> -->
                    </form>
            </div>
        </div>
    </div>
</div>




<!-- </div> -->

{% endblock %}