{% extends 'base.html' %}
{% load static %}
{% block title %}
HOME
{% endblock %}

{% block navbar-active %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
 
<ul class="navbar-nav ml-auto">
  <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
  <li class="nav-item active">
      <a class="nav-link " href="{% url 'home' %}"> Home</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link " href="{% url 'bug_create' %}"> Create Bug</a>
</li>
<li class="nav-item ">
  <a class="nav-link " href="{% url 'bug' %}"> ALL Bug</a>
</li>
   
</ul>

</div>
{% endblock %}

{% block content %}
<!-- FIRST CONTAINER -->

        <div class="row6 pt-5" >
            <div class="container p-5" >
                <h6 class="row4h6">Welcome To BugHound </h6>
                <p>{{user}} <br> {{emp.user_level}}</p>
                
                <div class="row">
                    <!-- industries -->
                    <div class="col-xs-6 col-md-4">
                      <a href="{% url 'bug_create' %}">
                        <div class="btn btn-4 hover-border-2">
                          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="100%" width="320" />
                          </svg>
                             <div class="text">
                                <h5>Enter New Bug</h5>
                             </div>
                          </div>
                          
                        </a>
                    </div>

                    <div class="col-xs-6 col-md-4">
                      <a href="{% url 'bug' %}">
                        <div class="btn btn-4 hover-border-2">
                          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="100%" width="320" />
                          </svg>
                          <div class="text">
                            <h5>Update Existing Bug</h5>
                          </div>
                        </div>
                        
                      </a>
                      </div>
                      
                      <div class="col-xs-6 col-md-4">
                        <a href="{% url 'database_managment' %}">
                          <div class="btn btn-4 hover-border-2">
                            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
                              <rect class="shape" height="100%" width="320" />
                            </svg>
                            <div class="text">
                              <h5>Database Managment</h5>
                            </div>
                          </div>
                          
                        </a>
                        </div>   
                        
                </div>
            </div>
            <a  class="btn-danger p-3" href="/logout">LOGOUT</a>
        </div>
       



  

{% endblock %}


