{% load static %}
    <!-- 3rd Section -->
    <div class="row row4" >
        <div class="col-lg-12">
            <h6 class="row4h6">INTEGRATED SERVICES</h6>
            <h2>We change what's possible, so you can build what's next.</h2>
            <p class="row4p">While understanding challenges that an organisation faces. We strive to equip our clients with scalable, efficient, and innovative computing services, software or apps to push the overall objective in the most efficient way possible.</p>
        </div>
        <!-- 2 ELEMENTS -->
        
        <div class="col-lg-6" >
            <div class="servblock" >
            <div class="service-block s-block wide-sblock row" >
                <img class="servicon" src="{% static 'app/images/development.svg' %}" alt="" height="200px">
                <div  class="servtext">
                    <h3 class="retroshadow left ">Custom Web Development</h3>
                    <ul>
                        <li>Python</li>
                        <li>PHP</li>
                        <li>WordPress</li>
                        <li>Django</li>
                    </ul>
                    <br>
                    <p class="row4p1">Our strength, at CanTech, is to build custom websites according to the client’s demands. we’ve expertise and made a name for ourselves in the web development domain. Creation and maintenance of websites. It includes aspects such as website designing web publishing, web programming, and database management.</p>
                    </div>
            </div>
            </div>
        </div>

        <div class="col-lg-6" >
            <div class="servblock" >
            <div class="service-block s-block wide-sblock row" >
                <img class="servicon" src="{% static 'app/images/ecommerce.svg' %}" alt="" height="200px">
                <div  class="servtext">
                    <h3 class="retroshadow left ">E-Commerce Development</h3>
                    <ul>
                        <li>B2B</li>
                        <li>B2C</li>
                        <li>C2C</li>
                        <li>C2B</li>
                    </ul>
                    <br>
                    <p class="row4p1">At CanTech, we take care of your business by creating responsive apps that have an interactive interface. We give a user-friendly experience to the e-commerce websites that we develop.</p>
                    </div>
            </div>
            </div>
        </div>

        <div class="col-lg-6" >
            <div class="servblock" >
            <div class="service-block s-block wide-sblock row" >
                <img class="servicon" src="{% static 'app/images/seo.svg' %}" alt="" height="200px">
                <div  class="servtext">
                    <h3 class="retroshadow left ">Digital Marketing</h3>
                    <ul>
                        <li>Email Marketing</li>
                        <li>SEO</li>
                        <li>SMO</li>
                        <li>PPC</li>
                        <li>ORM</li>
                    </ul>
                    <br>
                    <p class="row4p1">CanTech has created a niche for itself in the digital marketing industry. Here, we help you in providing an online presence for your business, in order, to give you a wider audience.</p>
                    </div>
            </div>
            </div>
        </div>
        
        <div class="col-lg-6" >
            <div class="servblock" >
            <div class="service-block s-block wide-sblock row" >
                <img class="servicon" src="{% static 'app/images/profile.png' %}" alt="" height="200px">
                <div  class="servtext">
                    <h3 class="retroshadow left ">Profile Development</h3>
                    <ul>
                        <li>Digital CV</li>
                        <li>E Business Card</li>
                        <li>Own Domain</li>
                        <li>Business Email</li>
                    </ul>
                    <br>
                    <p class="row4p1">Profile development refers to the creation of one’s profile highlighting qualifications, skills, and accomplishments in one’s domain. It is a form of digital identity which can be used for promoting and marketing one’s business, profession, or domain. Standing out with Personal Domain, Professional Email, Virtual Card, Domain linked CV</p>
                    </div>
            </div>
            </div>
        </div> 

        <div class="col-lg-6" >
            <div class="servblock" >
            <div class="service-block s-block wide-sblock row" >
                <img class="servicon" src="{% static 'app/images/chatbot.svg' %}" alt="" height="200px">
                <div  class="servtext">
                    <h3 class="retroshadow left ">Personalized Chatbot</h3>
                    <ul>
                        <li>IBM Watson</li>
                        <li>Whatsapp Bot</li>
                        <li>TawkTo</li>
                        <li>Live Chat</li>
                    </ul>
                    <br>
                    <p class="row4p1">With ChatBot, automating customer service is a breeze.
                        create an automated(bot) or Human (Human Hybrid) chatbot  Publish your bot everywhere your users are.Personalize your Customer Experience  Scale your effort without increasing employee headcount
                        keep your customer support 24/7
                        </p>
                    </div>
            </div>
            </div>
        </div> 

        <div class="col-lg-6" >
            <div class="servblock" >
            <div class="service-block s-block wide-sblock row" >
                <img class="servicon" src="{% static 'app/images/social-media.svg' %}" alt="" height="200px">
                <div  class="servtext">
                    <h3 class="retroshadow left ">Social Media Managment</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Whatsapp</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                    <br>
                    <p class="row4p1">Social Media Marketing is an essential tool that every enterprise must use to grasp the branding. If you’re looking to connect with your customers and build a brand, that specializes in digital strategy, online marketing, social media campaigns, and advertising. Connect with your customers emotionally to build brand love before your competition does.</p>
                    </div>
            </div>
            </div>
        </div>

        <div class="col-lg-6" >
            <div class="servblock" >
            <div class="service-block s-block wide-sblock row" >
                <img class="servicon" src="{% static 'app/images/web-design.png' %}" alt="" height="200px">
                <div  class="servtext">
                    <h3 class="retroshadow left ">Web Designing</h3>
                    <ul>
                        <li>WordPress</li>
                        <li>Webflow</li>
                        <li>Figma</li>
                        <li>Raw</li>
                    </ul>
                    <br>
                    <p class="row4p1">If you’re looking to connect with your customers and build a brand, work with a social media agency that specializes in digital strategy, online marketing, social media campaigns, and advertising. Connect with your customers emotionally to build brand love before your competition does.</p>
                    </div>
            </div>
            </div>
        </div>

        <div class="col-lg-6" >
            <div class="servblock" >
            <div class="service-block s-block wide-sblock row" >
                <img class="servicon" src="{% static 'app/images/member-card.png' %}" alt="" height="200px">
                <div  class="servtext">
                    <h3 class="retroshadow left ">Digital Resume</h3>
                    <ul>
                        <li>Dynamic CV</li>
                        <li>E Card</li>
                        <li>Downloadable Content</li>
                        <li>Templates</li>
                    </ul>
                    <br>
                    <p class="row4p1">At Cantech, We Provide Dynamic Resume where user can create digital resume url with customizable user friendly content, With multiple template options.</p>
                    </div>
            </div>
            </div>
        </div>
        
    </div> 

